.ds-showcase{
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),
    url(https://media.istockphoto.com/photos/driving-through-the-forest-picture-id1303391854?b=1&k=20&m=1303391854&s=170667a&w=0&h=tXcqE307kIRXE3Gl_2EaWJQc_YUd-RFAUANi8HZuJwk=);
    background-position: center;
    background-size: cover;
}
.destinations{
    .container{

        .input{
            background: white;
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 4px;
        margin-top: 40px;
        position: relative;
        padding-right: 20px;
        input{
          flex: 1;
          padding: 15px 10px;
          border: 0;
          outline: none;
          font-size: 16px;
          ::placeholder{
              text-transform: capitalize;
          }
        }
        i{
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            color: #000;
        }
    }
    h1{
        font-size: 40px;
    }
    }
}

.sportlight{
    background: white;
    .slider-container{
        .card{
            height: 350px;
            cursor: pointer;
            p{
                text-transform: capitalize;
                font-weight: bold;
                color: rgb(53, 19, 225);
                margin-top: 10px;
            }
        }
    }
}
.slider-2{
    background: white;
    .slider-container{
        .card{
            cursor: pointer;
        }
    }
}
.slider-3{
    background: white;
    .slider-container{
        .card{
            height: 400px;
            .image-container{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 180px;
                border-radius: 10px;
                text-align: center;
                color: rgb(250, 255, 255);
                padding: 20px;
                h1{
                    text-transform: capitalize;
                    font-family: 25px;
                    font-family: satisfy;

                }
                p{
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    text-transform: uppercase;
                    font-size: 13px;
                }
                span{
                    color: gold;
                }
            }
            .one{
                background: linear-gradient(to bottom,rgba(0,0,0,.7),rgba(0,0,0,.2)),
                url(https://media.istockphoto.com/photos/beautiful-mountainous-landscape-in-northern-india-picture-id471930071?b=1&k=20&m=471930071&s=170667a&w=0&h=5sZTFu1jkQRCZgoy1oAr-9n6NJzTH1PUV3Tcv5vw6MI=) no-repeat center center/cover;
            }
            .two{
                background: linear-gradient(to bottom,rgba(0,0,0,.7),rgba(0,0,0,.2)),
                url(https://media.istockphoto.com/photos/two-mature-women-using-raised-hands-together-in-mountains-picture-id1331062304?b=1&k=20&m=1331062304&s=170667a&w=0&h=hns9DgS_-lS3cPlBQFf8eca7PIe22ob6x_hxVYaBKl4=) no-repeat center center/cover;
            }
            .three{
                background: linear-gradient(to bottom,rgba(0,0,0,.7),rgba(0,0,0,.2)),
                url(https://images.unsplash.com/photo-1546412414-28524ac58329?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80) no-repeat center center/cover;
            }
            .four{
                background: linear-gradient(to bottom,rgba(0,0,0,.7),rgba(0,0,0,.2)),
                url(https://media.istockphoto.com/photos/scenic-sunset-in-amesterdamnetherland-picture-id1297715504?b=1&k=20&m=1297715504&s=170667a&w=0&h=yDrWMDvjd7BxRSO8-v5POkj3qcuo0pxNoJr5mEEWwwg=) no-repeat center center/cover;
            }
            .five{
                background: linear-gradient(to bottom,rgba(0,0,0,.7),rgba(0,0,0,.2)),
                url(https://media.istockphoto.com/photos/paradisiac-beach-at-maldives-picture-id1041384408?b=1&k=20&m=1041384408&s=170667a&w=0&h=LGAd8JYKqU2idnGJa1R-NfExesGAlyZVyAlDnLFByZc=) no-repeat center center/cover;
            }
            .package{
                margin-bottom: 0;
                margin-top: 4px;
                color:#359391;
            }
            .title-name{
                margin-bottom: 4px;
                margin-top: 4px;
            }
            .location{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: #359391;
                margin-bottom: 4px;
                font-weight: bold;
                i{margin-right: 8px;}
            }
            .flex{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 8px;
                .money{
                    font-weight: bold;
                }
                .btn{
                    padding: 6px 8px;
                    text-transform: capitalize;
                    border: 1px solid #359391;
                    background: transparent;
                    color: #359391;
                }
            }
            .logo{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
                font-family: satisfy;
                border-top: 1px solid #359391;
                p{
                    color:#359391;
                    opacity: .8;
                }
                img{
                    height: 50px;
                    width: 50px;
                    object-fit: cover;
                }
            }
        }
        
    }
}

.travelers{
    background: white;
    .slider-title{
        padding-left: 5vw;
        padding-right: 5vw;
        margin-bottom: 15px;
        h2{
            margin: 0;
            padding-left: 0;
            font-family: poppins;
            margin-bottom: 8px;
        }
    }
    .slider-container{
        .card{
            box-sizing: border-box;
            position: relative;
            width: 250px;
            .one{
                background:linear-gradient(to bottom, rgba(0,0,0,.0),rgba(0,0,0,.5) 90%),
                 url(https://images.unsplash.com/photo-1618155530308-c37a780555e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80) no-repeat center center/cover;
            }
            .two{
                background:linear-gradient(to bottom, rgba(0,0,0,.0),rgba(0,0,0,.5) 90%),
                 url(https://images.unsplash.com/photo-1552642986-ccb41e7059e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGluZGlhbiUyMG1hbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1100&q=60) no-repeat center center/cover;
            }
            .three{
                background:linear-gradient(to bottom, rgba(0,0,0,.0),rgba(0,0,0,.5) 90%),
                 url(https://images.unsplash.com/photo-1513633220151-48d746a2ce7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c25vdyUyMGZvcmVzdCUyMGdpcmx8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60) no-repeat center center/cover;
            }
            .four{
                background:linear-gradient(to bottom, rgba(0,0,0,.0),rgba(0,0,0,.5) 90%),
                 url(https://media.istockphoto.com/photos/indian-teenager-girl-holding-national-indian-flag-and-celebrating-picture-id1263977781?b=1&k=20&m=1263977781&s=170667a&w=0&h=Xoa2dfiUzaV8OyuOtGcGxKiDGOmU-gXGfTJDSLeGtTI=) no-repeat center center/cover;
            }
            .five{
                background:linear-gradient(to bottom, rgba(0,0,0,.0),rgba(0,0,0,.5) 90%),
                 url(https://media.istockphoto.com/photos/happy-indian-father-having-fun-with-her-daughter-outdoor-focus-on-picture-id1346157333?b=1&k=20&m=1346157333&s=170667a&w=0&h=HLM0QuwLSct9u15uZBQzIYLoGvhyMoJp-z3b54URcOw=) no-repeat center center/cover;
            }
            .six{
                background:linear-gradient(to bottom, rgba(0,0,0,.0),rgba(0,0,0,.5) 90%),
                 url(https://media.istockphoto.com/photos/dhankar-gompa-india-spiti-valley-picture-id930852852?b=1&k=20&m=930852852&s=170667a&w=0&h=CgroQLI-53l9TsJgq9zzBB6Wdqs3PghhadgKhKrHVp4=) no-repeat center center/cover;
            }
            .image-container{
                padding: 15px;
                height: 100%;
              .text{
                  position: absolute;
                  bottom: 10px;
                  left: 20px;
                  transform: translate(-10px,-10px);
                  h1{
                      font-size: 20px;
                      color: white;
                  }
                  p{
                      opacity: .7;
                      color: white;
                      font-size: 15px;
                  }
              }

            }
        }
    }
}

.travelers-2{
    .slider-container{
        .card{
            width:280px;
            height: 350px;
            .one{
                background: linear-gradient(to bottom,rgba(0,0,0,.6),rgba(0,0,0,.2)),
                url(https://media.istockphoto.com/photos/master-in-desert-picture-id1024816978?b=1&k=20&m=1024816978&s=170667a&w=0&h=1TyxQC-y2ag4Zuyhqvb-ktxW59WLKCHzSBuKNFcJRao=) no-repeat center center/cover;
            }
            .two{
                background: linear-gradient(to bottom,rgba(0,0,0,.6),rgba(0,0,0,.2)),
                url(https://media.istockphoto.com/photos/kerala-most-beautiful-place-of-india-picture-id1347088244?b=1&k=20&m=1347088244&s=170667a&w=0&h=H6x-h21GPbikDoFhZ6QJQc6-baglI--yxWTkto9UFe8=) no-repeat center center/cover;
            }
            .three{
                background: linear-gradient(to bottom,rgba(0,0,0,.6),rgba(0,0,0,.2)),
                url(https://images.unsplash.com/photo-1611331384915-732d894028fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cHVuamFifGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60) no-repeat center center/cover;
            }
            .four{
                background: linear-gradient(to bottom,rgba(0,0,0,.6),rgba(0,0,0,.2)),
                url(https://media.istockphoto.com/photos/tour-boats-floating-on-the-indian-ocean-near-gateway-of-india-mumbai-picture-id1159381700?b=1&k=20&m=1159381700&s=170667a&w=0&h=LpX2FGbaATrwDwBflPmp7Qd5o-1_ntAsf7VcwP0SHak=) no-repeat center center/cover;
            }
            .image-container{
                overflow: hidden;
                box-sizing: border-box;
                .text{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    transform: translate(0);
                    height: 100%;
                    overflow: hidden;
                    width: 100%;
                    h1{
                        font-size: 38px;
                        text-transform: uppercase;
                        opacity: .8;
                        padding-top: 10px;
                    }
                    div{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        color: white;
                        opacity: .7;
                        text-transform: capitalize;
                        font-family: satisfy;
                    }
                }
                
            }
        }
    }
}

.vlog{
    background: white;
    .slider-container{
        .card{
            .image-container{
                height: 180px;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                text-transform: uppercase;
                color: white;
                line-height: 1.2;
                font-size: 22px;
               span{
                    color:rgb(4, 223, 226);
                }
            }
            .one{
                background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
                url(https://images.unsplash.com/photo-1528184039930-bd03972bd974?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cml2ZXIlMjBiYW5rfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60) no-repeat center center;
            }
            .two{
                background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
                url(https://images.unsplash.com/photo-1548509925-0e7aa59c6bc3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YmlyZHN8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60) no-repeat center center;
            }
            .three{
                background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
                url(https://images.unsplash.com/photo-1541274387095-12117e6099dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8b2xkJTIwaG91c2V8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60) no-repeat center center;
            }
            .four{
                background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
                url(https://media.istockphoto.com/photos/palace-staircase-picture-id183273572?b=1&k=20&m=183273572&s=170667a&w=0&h=9gwq8Eo_gN7R4X6UcAT0fyfmLaijYbF4fr0rFPoysxI=) no-repeat center center;
            }
            .san{
                background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
                url(https://media.istockphoto.com/photos/buggy-ride-on-the-dunes-in-genipabu-rio-grande-do-norte-picture-id1301067685?b=1&k=20&m=1301067685&s=170667a&w=0&h=DczWuTTnQSvcXsOWcqXh6qjEAokyKn6K9L0s8m9nG5A=) no-repeat center center;
            }
        }
    }
}
.slider p{
    opacity: .8;
    line-height: 1.6;
}
@media (max-width:768px) {
    .destinations .container{
        h1{
            font-size: 32px;
        }
    }
}
@media (max-width:568px) {
    .destinations .container{
        h1{
            font-size: 27px;
        }
    }
}