.showcase{
    width: 100%;
    height: 85vh;
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),
    url(https://images.unsplash.com/photo-1585061528750-3baca2cb6a10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2FwZSUyMHRvd258ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60);
    background-position: center;
    background-size: cover;
    z-index: -1;
    .container{
        max-width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: white;
        text-align: center;
        h1{
            font-size: 60px;
            text-transform: uppercase;
            font-weight: 800;
        }
    }
    &_search{
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(255, 255, 255, 0.5);
        max-width: 500px;
        width: 100%;
        margin: 30px 0;
        i{
            color: black;
            font-size: 24px;
            margin-right: 10px;
        }
        input{
            padding: 6px 10px;
            border: rgba(0,0,0,.3);
            flex: 1;
        }
    }
    .btn{
        padding: 20px 38px;
        font-size: 16px;
        text-transform: capitalize;
        margin-top: 20px;
        color: #0a438b;
        background: white;
        border: 0;
    }
}

@media (max-width:968px) {
    .showcase .container h1{
        font-size: 50px;
    }
    .showcase .container .showcase_search{
        width: 80%;
    }
}
@media (max-width:768px) {
    .showcase .container h1{
        font-size: 40px;
    }
    .showcase .container{
        .btn{
            padding: 15px 30px;
            border-radius: 0;
        }
    }
}
@media (max-width:568px) {
    .showcase .container h1{
        font-size: 33px;
        margin-top: 30px;
    }
}
@media (max-width:468px) {
    .showcase .container h1{
        font-size:28px;
        margin-top: 30px;
    }
}
.go-to-top{
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    background: transparent;
    border: 1px solid black;
    height: 50px;
    width: 30px;
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        width: 100%;
        height: 100%;
        i{
            transform: rotate(-90deg);
        }
    }
}