@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&family=Josefin+Sans&family=Nunito&family=Oswald:wght@300;400;500;700&family=Poppins:wght@400;500&display=swap");
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background: rgba(27, 125, 190, 0.492);
  border-bottom: 1px solid rgba(250, 250, 250, 0.3);
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container img {
  height: 90px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

header .container .search_icon {
  background: transparent;
  width: 20px;
  height: 15px;
  padding: 6px;
  border-radius: 24px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #fafafa;
}

header .container .search_icon i {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 13px;
  background: none;
  color: white;
}

header .container .search_icon input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  border: 0;
  outline: none;
  padding: 0 5px;
  background: transparent;
}

header .container .search_icon:hover, header .container .search_icon:focus {
  width: 110px;
}

header .container .nav_links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .nav_links ul li {
  margin: 0 4px;
  padding: 0 10px;
}

header .container .nav_links ul li a {
  color: white;
  font-family: cursive;
}

header .container .nav_links ul li a:hover {
  font-weight: bold;
}

header .container .nav_links ul li .active {
  color: #0adccb;
}

header .container .menu_icon {
  display: none;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #2f9bdb;
  z-index: 99;
}

.showcase {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(https://images.unsplash.com/photo-1585061528750-3baca2cb6a10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2FwZSUyMHRvd258ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://images.unsplash.com/photo-1585061528750-3baca2cb6a10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2FwZSUyMHRvd258ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60);
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.showcase .container {
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: white;
  text-align: center;
}

.showcase .container h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 800;
}

.showcase_search {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.5);
  max-width: 500px;
  width: 100%;
  margin: 30px 0;
}

.showcase_search i {
  color: black;
  font-size: 24px;
  margin-right: 10px;
}

.showcase_search input {
  padding: 6px 10px;
  border: rgba(0, 0, 0, 0.3);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.showcase .btn {
  padding: 20px 38px;
  font-size: 15px;
  text-transform: capitalize;
  margin-top: 20px;
  color: #0a438b;
  background: white;
  border: 0;
  border-radius: 5px;
}

@media (max-width: 968px) {
  .showcase .container h1 {
    font-size: 50px;
  }
  .showcase .container .showcase_search {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .showcase .container h1 {
    font-size: 40px;
  }
  .showcase .container .btn {
    padding: 16px 30px;
    border-radius: 0;
    color: #000;
  }
}

@media (max-width: 568px) {
  .showcase .container h1 {
    font-size: 35px;
    margin-top: 30px;
  }
}

.go-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99;
  background: transparent;
  border: 1px solid black;
  height: 50px;
  width: 30px;
}

.go-to-top a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  width: 100%;
  height: 100%;
}

.go-to-top a i {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.Cards {
  padding: 30px 0;
  background: rgba(0, 0, 0, 0.08);
}

.Cards .container .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.Cards .container .grid .card {
  border-radius: 5px;
  overflow: hidden;
  background: white;
}

.Cards .container .grid .card .head {
  height: 180px;
  position: relative;
}

.Cards .container .grid .card .head h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}

.Cards .container .grid .card .body {
  padding: 12px;
}

.Cards .container .grid .card .body p {
  opacity: .8;
  font-size: 12px;
}

.Cards .container .grid .card-1 .head {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(90%, rgba(0, 0, 0, 0.3))), url(https://media.istockphoto.com/photos/woman-kayaking-in-canada-picture-id172330133?b=1&k=20&m=172330133&s=170667a&w=0&h=HJfsZwOzepyL1_duTzX0Pws7aGrWKD97AQ-BGYQAIrM=) no-repeat center center/cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 90%), url(https://media.istockphoto.com/photos/woman-kayaking-in-canada-picture-id172330133?b=1&k=20&m=172330133&s=170667a&w=0&h=HJfsZwOzepyL1_duTzX0Pws7aGrWKD97AQ-BGYQAIrM=) no-repeat center center/cover;
}

.Cards .container .grid .card-2 .head {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.33))), url(https://images.unsplash.com/photo-1576013551627-0cc20b96c2a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cG9vbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60) no-repeat center center/cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.33) 99%), url(https://images.unsplash.com/photo-1576013551627-0cc20b96c2a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cG9vbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60) no-repeat center center/cover;
}

.Cards .container .grid .card-3 .head {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.3))), url(https://media.istockphoto.com/photos/the-chicago-riverwalk-at-daybreak-picture-id1342319754?b=1&k=20&m=1342319754&s=170667a&w=0&h=mS2foWwtwVIXZelCIYNtoU0VmzHO_ZKDJBqu_aG4BfA=) no-repeat center center/cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 99%), url(https://media.istockphoto.com/photos/the-chicago-riverwalk-at-daybreak-picture-id1342319754?b=1&k=20&m=1342319754&s=170667a&w=0&h=mS2foWwtwVIXZelCIYNtoU0VmzHO_ZKDJBqu_aG4BfA=) no-repeat center center/cover;
}

.Cards .container .grid-two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 25px 0;
  gap: 20px;
}

.Cards .container .grid-two .card {
  border-radius: 10px;
  height: 250px;
  color: white;
  padding: 50px 0 0 50px;
}

.Cards .container .grid-two .card h3 {
  text-transform: capitalize;
  font-size: 25px;
  margin-bottom: 8px;
}

.Cards .container .grid-two .card p {
  line-height: 1.6;
  margin-bottom: 10px;
}

.Cards .container .grid-two .card .btn {
  padding: 10px 24px;
  border-radius: 24px;
  border: 0;
  outline: none;
}

.Cards .container .card-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.3))), url(https://media.istockphoto.com/photos/ah-this-was-just-what-i-needed-picture-id810576038?b=1&k=20&m=810576038&s=170667a&w=0&h=acWNrtLgAvzgaHVJFIxUbWG3lO0kk66TMbGiFRF51h0=) no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(https://media.istockphoto.com/photos/ah-this-was-just-what-i-needed-picture-id810576038?b=1&k=20&m=810576038&s=170667a&w=0&h=acWNrtLgAvzgaHVJFIxUbWG3lO0kk66TMbGiFRF51h0=) no-repeat center center/cover;
}

.Cards .container .card-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.3))), url(https://images.unsplash.com/photo-1533072728090-d34de21fd094?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGJpa2UlMjB0cmF2ZWx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60) no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(https://images.unsplash.com/photo-1533072728090-d34de21fd094?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGJpa2UlMjB0cmF2ZWx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60) no-repeat center center/cover;
}

@media (max-width: 768px) {
  .Cards .container .grid-two .card {
    padding-left: 10px;
  }
}

@media (max-width: 668px) {
  .Cards .container .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .Cards .container .grid .card .head {
    height: 200px;
  }
  .Cards .container .grid .card .body {
    padding: 15px;
  }
}

@media (max-width: 991px) {
  .Cards .container .grid-two {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .Cards .container .grid-two .card {
    height: 300px;
  }
  .Cards .container .grid-two .card h3 {
    font-size: 23px;
  }
}

.more-cards {
  background: rgba(0, 0, 0, 0.08);
  padding-bottom: 20px;
}

.more-cards .container .grid h2 {
  margin-bottom: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.more-cards .container .grid .grid-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.more-cards .container .grid .grid-wrapper .card {
  height: 180px;
  border-radius: 10px;
  position: relative;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: white;
  overflow: hidden;
}

.more-cards .container .grid .grid-wrapper .card h3 {
  text-shadow: 0 0 4px black;
}

.more-cards .container .grid .grid-wrapper .card-1 {
  background: url(https://images.unsplash.com/photo-1532715088550-62f09305f765?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHN1bm55JTIwYmVhY2glMjB3aXRoJTIwcGVvcGxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60) no-repeat center center/cover;
}

.more-cards .container .grid .grid-wrapper .card-2 {
  background: url(https://media.istockphoto.com/photos/family-with-dog-in-the-car-picture-id1344954298?b=1&k=20&m=1344954298&s=170667a&w=0&h=w1dawkZyxi1h-lpVKdSxDHC7RVX-Fd4JuDZ6kMSxs60=) no-repeat center center/cover;
}

.more-cards .container .grid .grid-wrapper .card-3 {
  background: url(https://media.istockphoto.com/photos/kids-playing-underwater-in-pool-picture-id1154945979?b=1&k=20&m=1154945979&s=170667a&w=0&h=aidQxtPjhcQGIRilKYG2zs1syxMIhmmZbN2G9vgvK90=) no-repeat center center/cover;
}

.more-cards .container .grid .grid-wrapper .card-4 {
  background: url(https://media.istockphoto.com/photos/father-with-four-children-preparing-for-day-on-the-beach-picture-id1315157609?b=1&k=20&m=1315157609&s=170667a&w=0&h=6FUuAPTWnVGEedZUN0XmyVMRhLNIpQEEBxzMzi4bKqA=) no-repeat center center/cover;
}

@media (max-width: 991px) {
  .more-cards .container .grid .grid-wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .more-cards .container .grid .grid-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .more-cards .container .grid .grid-wrapper .card {
    height: 250px;
  }
}

.plan {
  padding: 40px 0 100px;
}

.plan .container {
  max-width: 1000px;
}

.plan .container .header {
  padding-bottom: 80px;
  position: relative;
}

.plan .container .header p {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: normal;
  opacity: .85;
}

.plan .container .header h1 {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 10px;
}

.plan .container .header .head-btn {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 12px 24px;
  border: 1px solid black;
  border-radius: 24px;
  outline: none;
  font-size: 14px;
  background: transparent;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
  font-weight: bold;
}

.plan .container .header .head-btn:hover {
  background: dodgerblue;
  color: white;
}

.plan .container .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.plan .container .grid .card {
  overflow: hidden;
  height: 440px;
}

.plan .container .grid .card img {
  border-radius: 10px;
  width: 100%;
  height: 85%;
  -o-object-fit: cover;
     object-fit: cover;
}

.plan .container .grid .card h1 {
  padding: 10px;
  font-family: poppins;
  opacity: .9;
  font-size: 26px;
}

.plan .container .grid .card h1:hover {
  text-decoration: underline;
}

.plan .container .head-btn-2 {
  padding: 12px 24px;
  border: 1px solid black;
  border-radius: 24px;
  outline: none;
  font-size: 14px;
  background: transparent;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: none;
  margin-top: 20px;
}

.plan .container .head-btn-2:hover {
  background: dodgerblue;
  color: white;
}

@media (max-width: 768px) {
  .plan .container .header .head-btn {
    display: none;
  }
  .plan .container .header p {
    font-size: 18px;
  }
  .plan .container .header h1 {
    font-size: 37px;
  }
  .plan .container .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .plan .container .head-btn-2 {
    display: block;
  }
}

.best {
  height: 400px;
  padding: 100px 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.8))), url(https://images.unsplash.com/photo-1539576776193-2c07122e5fee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80) no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(https://images.unsplash.com/photo-1539576776193-2c07122e5fee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80) no-repeat center center/cover;
}

.best .container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  color: white;
}

.best .container .header {
  text-align: center;
  background: transparent;
  margin-bottom: 100px;
  text-transform: capitalize;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.best .container .header h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.best .container .header h1 {
  font-size: 60px;
}

.best .container .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  gap: 20px;
  row-gap: 40px;
  line-height: 1.6;
}

.best .container .grid .form .btn {
  padding: 12px 24px;
  border: 1px solid #fafafa;
  border-radius: 24px;
  outline: none;
  font-size: 14px;
  background: transparent;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: bold;
}

.best .container .grid .form .btn:hover {
  background: black;
  color: white;
}

.best .container .grid .form p {
  padding-left: 10px;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 768px) {
  .best .container .header {
    text-align: left;
  }
}

@media (max-width: 991px) {
  .best .container {
    width: 100%;
  }
  .best .container .header {
    margin-bottom: 50px;
  }
  .best .container .header h3 {
    font-size: 24px;
  }
  .best .container .header h1 {
    font-size: 44px;
  }
  .best .container .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.footer {
  background: white;
}

.footer .container .wrapper {
  padding: 50px 0;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.footer .container .wrapper .card h2 {
  text-transform: capitalize;
  margin-bottom: 15px;
  font-weight: bold;
}

.footer .container .wrapper .card .h2 {
  margin-top: 40px;
}

.footer .container .wrapper .card ul li {
  opacity: .8;
  margin: 6px 0;
  text-transform: capitalize;
  font-size: 14px;
}

.footer .container .wrapper .card-1 .f {
  opacity: .8;
  margin-bottom: 20px;
}

.footer .container .wrapper .card-1 h3 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0;
}

.footer .container .wrapper .card-1 .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer .container .wrapper .card-1 .links a {
  background: #000;
  color: white;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 24px;
}

.footer .container .wrapper .card-1 .links a:first-child {
  background: #1877f2;
}

.footer .container .wrapper .card-1 .links a:nth-child(2) {
  background: #f00073;
}

.footer .container .wrapper .card-1 .links a:nth-child(3) {
  background: #1da1f2;
}

.footer .container .wrapper .card-1 .links a:nth-child(4) {
  background: #ff0000;
}

.footer .container .wrapper .card-1 .links a:last-child {
  background: #e60023;
}

.footer .container .wrapper .card-1 p.blue {
  text-transform: capitalize;
  color: #4444c0;
  margin-bottom: 20px;
}

.footer .container .wrapper .card-1 input {
  padding: 8px 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
  border-radius: 24px;
  margin-bottom: 20px;
}

.footer .container .wrapper .card-1 .sbs {
  font-size: 13px;
  margin-bottom: 8px;
}

.footer .container .wrapper .card-1 .btn {
  padding: 8px 18px;
  font-size: 12px;
  text-transform: capitalize;
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
  border-radius: 24px;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer .container .wrapper .card-1 .btn:hover {
  background-color: #000;
  color: white;
}

.footer .black {
  background: #000;
  padding: 20px 30px;
  color: white;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.footer .black p {
  opacity: .8;
  font-size: 14px;
}

.footer .black label {
  margin-right: 10px;
}

.footer .black select {
  padding: 6px 25px;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
  border-radius: 24px;
}

@media (max-width: 991px) {
  .footer .container {
    max-width: 700px;
  }
  .footer .container .wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .footer .black {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .footer .container .wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.slider {
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.04);
  position: relative;
}

.slider h2 {
  text-transform: capitalize;
  margin-bottom: 40px;
  padding-left: 5vw;
  opacity: .8;
  font-family: poppins;
}

.slider .slider-container {
  padding: 0 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  scroll-behavior: smooth;
}

.slider .slider-container .card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 20px;
  overflow: hidden;
  border-radius: 10px;
  width: 280px;
  height: 300px;
}

.slider .slider-container .card img {
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.slider .slider-container .card h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0 10px;
  text-transform: capitalize;
  line-height: 1.6;
  color: #1e1a15;
}

.slider .slider-container .card p {
  text-transform: capitalize;
}

.slider .slider-container .card p span {
  color: dodgerblue;
}

.slider .slider-container::-webkit-scrollbar {
  display: none;
}

.btnss {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 99;
}

.btnss.next {
  right: 5px;
}

.btnss.prev {
  left: 5px;
}

.destinations {
  background: url(https://images.unsplash.com/photo-1614088459293-5669fadc3448?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80) no-repeat center center/cover;
}

.destinations .container .input {
  background: white;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  margin-top: 40px;
  position: relative;
  padding-right: 20px;
}

.destinations .container .input input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 15px 10px;
  border: 0;
  outline: none;
  font-size: 16px;
}

.destinations .container .input i {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #000;
}

.destinations .container h1 {
  font-size: 40px;
}

.sportlight {
  background: white;
}

.sportlight .slider-container .card {
  height: 350px;
  cursor: pointer;
}

.sportlight .slider-container .card p {
  text-transform: capitalize;
  font-weight: bold;
  color: #3513e1;
  margin-top: 10px;
}

.slider-2 {
  background: white;
}

.slider-2 .slider-container .card {
  cursor: pointer;
}

.slider-3 {
  background: white;
}

.slider-3 .slider-container .card {
  height: 400px;
}

.slider-3 .slider-container .card .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 180px;
  border-radius: 10px;
  text-align: center;
  color: #faffff;
  padding: 20px;
}

.slider-3 .slider-container .card .image-container h1 {
  text-transform: capitalize;
  font-family: 25px;
  font-family: satisfy;
}

.slider-3 .slider-container .card .image-container p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
}

.slider-3 .slider-container .card .image-container span {
  color: gold;
}

.slider-3 .slider-container .card .one {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.2))), url(https://media.istockphoto.com/photos/beautiful-mountainous-landscape-in-northern-india-picture-id471930071?b=1&k=20&m=471930071&s=170667a&w=0&h=5sZTFu1jkQRCZgoy1oAr-9n6NJzTH1PUV3Tcv5vw6MI=) no-repeat center center/cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(https://media.istockphoto.com/photos/beautiful-mountainous-landscape-in-northern-india-picture-id471930071?b=1&k=20&m=471930071&s=170667a&w=0&h=5sZTFu1jkQRCZgoy1oAr-9n6NJzTH1PUV3Tcv5vw6MI=) no-repeat center center/cover;
}

.slider-3 .slider-container .card .two {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.2))), url(https://media.istockphoto.com/photos/two-mature-women-using-raised-hands-together-in-mountains-picture-id1331062304?b=1&k=20&m=1331062304&s=170667a&w=0&h=hns9DgS_-lS3cPlBQFf8eca7PIe22ob6x_hxVYaBKl4=) no-repeat center center/cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(https://media.istockphoto.com/photos/two-mature-women-using-raised-hands-together-in-mountains-picture-id1331062304?b=1&k=20&m=1331062304&s=170667a&w=0&h=hns9DgS_-lS3cPlBQFf8eca7PIe22ob6x_hxVYaBKl4=) no-repeat center center/cover;
}

.slider-3 .slider-container .card .three {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.2))), url(https://images.unsplash.com/photo-1546412414-28524ac58329?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80) no-repeat center center/cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(https://images.unsplash.com/photo-1546412414-28524ac58329?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80) no-repeat center center/cover;
}

.slider-3 .slider-container .card .four {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.2))), url(https://media.istockphoto.com/photos/scenic-sunset-in-amesterdamnetherland-picture-id1297715504?b=1&k=20&m=1297715504&s=170667a&w=0&h=yDrWMDvjd7BxRSO8-v5POkj3qcuo0pxNoJr5mEEWwwg=) no-repeat center center/cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(https://media.istockphoto.com/photos/scenic-sunset-in-amesterdamnetherland-picture-id1297715504?b=1&k=20&m=1297715504&s=170667a&w=0&h=yDrWMDvjd7BxRSO8-v5POkj3qcuo0pxNoJr5mEEWwwg=) no-repeat center center/cover;
}

.slider-3 .slider-container .card .five {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.2))), url(https://media.istockphoto.com/photos/paradisiac-beach-at-maldives-picture-id1041384408?b=1&k=20&m=1041384408&s=170667a&w=0&h=LGAd8JYKqU2idnGJa1R-NfExesGAlyZVyAlDnLFByZc=) no-repeat center center/cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(https://media.istockphoto.com/photos/paradisiac-beach-at-maldives-picture-id1041384408?b=1&k=20&m=1041384408&s=170667a&w=0&h=LGAd8JYKqU2idnGJa1R-NfExesGAlyZVyAlDnLFByZc=) no-repeat center center/cover;
}

.slider-3 .slider-container .card .package {
  margin-bottom: 0;
  margin-top: 4px;
  color: #359391;
}

.slider-3 .slider-container .card .title-name {
  margin-bottom: 4px;
  margin-top: 4px;
}

.slider-3 .slider-container .card .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #359391;
  margin-bottom: 4px;
  font-weight: bold;
}

.slider-3 .slider-container .card .location i {
  margin-right: 8px;
}

.slider-3 .slider-container .card .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
}

.slider-3 .slider-container .card .flex .money {
  font-weight: bold;
}

.slider-3 .slider-container .card .flex .btn {
  padding: 6px 8px;
  text-transform: capitalize;
  border: 1px solid #359391;
  background: transparent;
  color: #359391;
}

.slider-3 .slider-container .card .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  font-family: satisfy;
  border-top: 1px solid #359391;
}

.slider-3 .slider-container .card .logo p {
  color: #359391;
  opacity: .8;
}

.slider-3 .slider-container .card .logo img {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.travelers {
  background: white;
}

.travelers .slider-title {
  padding-left: 5vw;
  padding-right: 5vw;
  margin-bottom: 15px;
}

.travelers .slider-title h2 {
  margin: 0;
  padding-left: 0;
  font-family: poppins;
  margin-bottom: 8px;
}

.travelers .slider-container .card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 250px;
}

.travelers .slider-container .card .one {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(90%, rgba(0, 0, 0, 0.5))), url(https://images.unsplash.com/photo-1618155530308-c37a780555e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80) no-repeat center center/cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 90%), url(https://images.unsplash.com/photo-1618155530308-c37a780555e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80) no-repeat center center/cover;
}

.travelers .slider-container .card .two {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(90%, rgba(0, 0, 0, 0.5))), url(https://images.unsplash.com/photo-1552642986-ccb41e7059e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGluZGlhbiUyMG1hbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1100&q=60) no-repeat center center/cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 90%), url(https://images.unsplash.com/photo-1552642986-ccb41e7059e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGluZGlhbiUyMG1hbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1100&q=60) no-repeat center center/cover;
}

.travelers .slider-container .card .three {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(90%, rgba(0, 0, 0, 0.5))), url(https://images.unsplash.com/photo-1513633220151-48d746a2ce7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c25vdyUyMGZvcmVzdCUyMGdpcmx8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60) no-repeat center center/cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 90%), url(https://images.unsplash.com/photo-1513633220151-48d746a2ce7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c25vdyUyMGZvcmVzdCUyMGdpcmx8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60) no-repeat center center/cover;
}

.travelers .slider-container .card .four {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(90%, rgba(0, 0, 0, 0.5))), url(https://media.istockphoto.com/photos/indian-teenager-girl-holding-national-indian-flag-and-celebrating-picture-id1263977781?b=1&k=20&m=1263977781&s=170667a&w=0&h=Xoa2dfiUzaV8OyuOtGcGxKiDGOmU-gXGfTJDSLeGtTI=) no-repeat center center/cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 90%), url(https://media.istockphoto.com/photos/indian-teenager-girl-holding-national-indian-flag-and-celebrating-picture-id1263977781?b=1&k=20&m=1263977781&s=170667a&w=0&h=Xoa2dfiUzaV8OyuOtGcGxKiDGOmU-gXGfTJDSLeGtTI=) no-repeat center center/cover;
}

.travelers .slider-container .card .five {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(90%, rgba(0, 0, 0, 0.5))), url(https://media.istockphoto.com/photos/happy-indian-father-having-fun-with-her-daughter-outdoor-focus-on-picture-id1346157333?b=1&k=20&m=1346157333&s=170667a&w=0&h=HLM0QuwLSct9u15uZBQzIYLoGvhyMoJp-z3b54URcOw=) no-repeat center center/cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 90%), url(https://media.istockphoto.com/photos/happy-indian-father-having-fun-with-her-daughter-outdoor-focus-on-picture-id1346157333?b=1&k=20&m=1346157333&s=170667a&w=0&h=HLM0QuwLSct9u15uZBQzIYLoGvhyMoJp-z3b54URcOw=) no-repeat center center/cover;
}

.travelers .slider-container .card .six {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(90%, rgba(0, 0, 0, 0.5))), url(https://media.istockphoto.com/photos/dhankar-gompa-india-spiti-valley-picture-id930852852?b=1&k=20&m=930852852&s=170667a&w=0&h=CgroQLI-53l9TsJgq9zzBB6Wdqs3PghhadgKhKrHVp4=) no-repeat center center/cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 90%), url(https://media.istockphoto.com/photos/dhankar-gompa-india-spiti-valley-picture-id930852852?b=1&k=20&m=930852852&s=170667a&w=0&h=CgroQLI-53l9TsJgq9zzBB6Wdqs3PghhadgKhKrHVp4=) no-repeat center center/cover;
}

.travelers .slider-container .card .image-container {
  padding: 15px;
  height: 100%;
}

.travelers .slider-container .card .image-container .text {
  position: absolute;
  bottom: 10px;
  left: 20px;
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}

.travelers .slider-container .card .image-container .text h1 {
  font-size: 20px;
  color: white;
}

.travelers .slider-container .card .image-container .text p {
  opacity: .7;
  color: white;
  font-size: 15px;
}

.travelers-2 .slider-container .card {
  width: 280px;
  height: 350px;
}

.travelers-2 .slider-container .card .one {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.2))), url(https://media.istockphoto.com/photos/master-in-desert-picture-id1024816978?b=1&k=20&m=1024816978&s=170667a&w=0&h=1TyxQC-y2ag4Zuyhqvb-ktxW59WLKCHzSBuKNFcJRao=) no-repeat center center/cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(https://media.istockphoto.com/photos/master-in-desert-picture-id1024816978?b=1&k=20&m=1024816978&s=170667a&w=0&h=1TyxQC-y2ag4Zuyhqvb-ktxW59WLKCHzSBuKNFcJRao=) no-repeat center center/cover;
}

.travelers-2 .slider-container .card .two {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.2))), url(https://media.istockphoto.com/photos/kerala-most-beautiful-place-of-india-picture-id1347088244?b=1&k=20&m=1347088244&s=170667a&w=0&h=H6x-h21GPbikDoFhZ6QJQc6-baglI--yxWTkto9UFe8=) no-repeat center center/cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(https://media.istockphoto.com/photos/kerala-most-beautiful-place-of-india-picture-id1347088244?b=1&k=20&m=1347088244&s=170667a&w=0&h=H6x-h21GPbikDoFhZ6QJQc6-baglI--yxWTkto9UFe8=) no-repeat center center/cover;
}

.travelers-2 .slider-container .card .three {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.2))), url(https://images.unsplash.com/photo-1611331384915-732d894028fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cHVuamFifGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60) no-repeat center center/cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(https://images.unsplash.com/photo-1611331384915-732d894028fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cHVuamFifGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60) no-repeat center center/cover;
}

.travelers-2 .slider-container .card .four {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.2))), url(https://media.istockphoto.com/photos/tour-boats-floating-on-the-indian-ocean-near-gateway-of-india-mumbai-picture-id1159381700?b=1&k=20&m=1159381700&s=170667a&w=0&h=LpX2FGbaATrwDwBflPmp7Qd5o-1_ntAsf7VcwP0SHak=) no-repeat center center/cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(https://media.istockphoto.com/photos/tour-boats-floating-on-the-indian-ocean-near-gateway-of-india-mumbai-picture-id1159381700?b=1&k=20&m=1159381700&s=170667a&w=0&h=LpX2FGbaATrwDwBflPmp7Qd5o-1_ntAsf7VcwP0SHak=) no-repeat center center/cover;
}

.travelers-2 .slider-container .card .image-container {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.travelers-2 .slider-container .card .image-container .text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transform: translate(0);
          transform: translate(0);
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.travelers-2 .slider-container .card .image-container .text h1 {
  font-size: 38px;
  text-transform: uppercase;
  opacity: .8;
  padding-top: 10px;
}

.travelers-2 .slider-container .card .image-container .text div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: white;
  opacity: .7;
  text-transform: capitalize;
  font-family: satisfy;
}

.vlog {
  background: white;
}

.vlog .slider-container .card .image-container {
  height: 180px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: white;
  line-height: 1.2;
  font-size: 22px;
}

.vlog .slider-container .card .image-container span {
  color: #04dfe2;
}

.vlog .slider-container .card .one {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(https://images.unsplash.com/photo-1528184039930-bd03972bd974?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cml2ZXIlMjBiYW5rfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60) no-repeat center center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1528184039930-bd03972bd974?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cml2ZXIlMjBiYW5rfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60) no-repeat center center;
}

.vlog .slider-container .card .two {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(https://images.unsplash.com/photo-1548509925-0e7aa59c6bc3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YmlyZHN8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60) no-repeat center center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1548509925-0e7aa59c6bc3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YmlyZHN8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60) no-repeat center center;
}

.vlog .slider-container .card .three {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(https://images.unsplash.com/photo-1541274387095-12117e6099dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8b2xkJTIwaG91c2V8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60) no-repeat center center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1541274387095-12117e6099dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8b2xkJTIwaG91c2V8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60) no-repeat center center;
}

.vlog .slider-container .card .four {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(https://media.istockphoto.com/photos/palace-staircase-picture-id183273572?b=1&k=20&m=183273572&s=170667a&w=0&h=9gwq8Eo_gN7R4X6UcAT0fyfmLaijYbF4fr0rFPoysxI=) no-repeat center center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://media.istockphoto.com/photos/palace-staircase-picture-id183273572?b=1&k=20&m=183273572&s=170667a&w=0&h=9gwq8Eo_gN7R4X6UcAT0fyfmLaijYbF4fr0rFPoysxI=) no-repeat center center;
}

.vlog .slider-container .card .san {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(https://media.istockphoto.com/photos/buggy-ride-on-the-dunes-in-genipabu-rio-grande-do-norte-picture-id1301067685?b=1&k=20&m=1301067685&s=170667a&w=0&h=DczWuTTnQSvcXsOWcqXh6qjEAokyKn6K9L0s8m9nG5A=) no-repeat center center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://media.istockphoto.com/photos/buggy-ride-on-the-dunes-in-genipabu-rio-grande-do-norte-picture-id1301067685?b=1&k=20&m=1301067685&s=170667a&w=0&h=DczWuTTnQSvcXsOWcqXh6qjEAokyKn6K9L0s8m9nG5A=) no-repeat center center;
}

.slider p {
  opacity: .8;
  line-height: 1.6;
}

.tab-box .container {
  max-width: 1100px;
}

.tab-box .container .btns-container {
  margin: 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  padding: 20px 0;
}

.tab-box .container .btns-container .btn {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 16px;
  background: transparent;
  color: black;
}

.tab-box .container .btns-container .btn.active {
  background: #50c217;
  color: white;
}

.tab-box .container .btns-container .btn:hover {
  border: 1px solid #080002;
}

.tab-box .container .btns-container a {
  color: #000;
}

.tab-box .container .content-container {
  padding: 30px 0;
}

.tab-box .container .content-container .content {
  padding: 30px 0;
}

.tab-box .container .content-container .content h2 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: poppins;
  font-size: 27px;
  opacity: .8;
  padding-left: 20px;
}

.tab-box .container .content-container .content p.p {
  line-height: 1.7;
  margin-bottom: 30px;
  opacity: .7;
  padding-left: 20px;
}

.tab-box .container .content-container .content .boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.tab-box .container .content-container .content .boxes .card {
  position: relative;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tab-box .container .content-container .content .boxes .card .image {
  height: 250px;
  overflow: hidden;
  padding: 20px;
  position: relative;
}

.tab-box .container .content-container .content .boxes .card .image img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tab-box .container .content-container .content .boxes .card .image h3 {
  position: absolute;
  bottom: 15px;
  left: 15px;
  text-transform: capitalize;
  font-size: 23px;
  color: white;
}

.tab-box .container .content-container .content .boxes .card .image::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.tab-box .container .content-container .content .boxes .card .body {
  padding: 20px 15px;
}

.tab-box .container .content-container .content .boxes .card .body p {
  margin-bottom: 50px;
  line-height: 1.6;
  opacity: .7;
}

.tab-box .container .content-container .content .boxes .card .body button {
  position: absolute;
  right: 15px;
  bottom: 15px;
  padding: 6px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  outline: none;
  border: 0;
  gap: 4px;
  font-weight: bold;
  color: #4444f4;
}

.tab-box .container .content-container .content .boxes .card .body button:hover {
  cursor: pointer;
}

@media (max-width: 800px) {
  .tab-box .container .content-container .content .boxes {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .tab-box .container {
    max-width: 1100px;
  }
  .tab-box .container .btns-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: 'Fira Sans', sans-serif;
}
/*# sourceMappingURL=main.css.map */